@import '~@angular/material/theming';

$my-grey: (
    50 : #e3e3e3,
    100 : #b8b8b8,
    200 : #898989,
    300 : #595959,
    400 : #363636,
    500 : #121212,
    600 : #101010,
    700 : #0d0d0d,
    800 : #0a0a0a,
    900 : #050505,
    A100 : #ff4e4e,
    A200 : #ff1b1b,
    A400 : #e70000,
    A700 : #ce0000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$app-primary: mat-palette($mat-gray);
$app-accent:  mat-palette($mat-orange);
$app-warn:    mat-palette($mat-deep-orange);


$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);